.policy .policy-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:25px 0px;

}

.policy-list .policy-item{
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}

.policy-list .policy-item i{
    font-size: 50px;
    display: flex; 
}

.policy-list .policy-item .policy-texts{
    display: flex;
    flex-direction: column;
    
}

.policy-list .policy-item .policy-texts strong{
   
   font-weight: 600;
    
}
.policy-list .policy-item .policy-texts span{
   
    font-size: 12px;
     
 }

/* Responsive */

@media ( max-width: 850px)
{
    .policy .policy-list{
        flex-direction: column;
    
    }
}

